:root.theme-dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --decor-title-text: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
  --decor-color-text: #DB00FF;
  --change-color: #ff0070;
  --change-transparent: #ff007040;
  --paragraf-text: #F1B2CE;
  }
