:root.theme-dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --decor-title-text: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
  --decor-color-text: #DB00FF;
  --change-color: #ff0070;
  }

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);

}

 .theme-dark .header {
  background-image: var(--bg-image);
  /* background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   */

 }

 .theme-dark .color__title__text {
  color: var(--accent-color, #FF0070);
}

.theme-dark .header__rec {
  position: absolute;
  /* top: 10px;
  right: 19px; */
  font-size: 18px;
  font-weight: normal;
  color: var(--accent-color);
} 

.theme-dark .header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  margin-inline-start: 10px;
}