
:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --decor-color-text: #FFC2E6;
  --change-color: #353430;
  --decor-title-text: #353430;
}

.theme-light .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

/* .theme-light .header {
  background-image: var(--bg-image);
} */

.theme-light .header__rec {
  display: none;
}

.theme-light .header__rec::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --decor-color-text: #FFC2E6;
    --change-color: #353430;
    --decor-title-text: #353430;
  }
}
