
:root {
  --accent-color: #ff0070; 
  /* --bg-image: url(../images/cover-image-dark.png); */
  --bg-color: #000028;
  --font-family: 'IBM Plex mono', monospace;
  --text-color: #F1B2CE;
  --weight-font: bold;
  --decor-color-text: #DB00FF;
  --change-color: #ff0070;
  --decor-title-text: #000028;
}

